.contanctTile {
  border-bottom-style: groove;
}

.phone {
  color: #4CAF50;
}

.searchBar {
  width: 100%!important;
}

.avatar {
  height:40px!important;
  width: 40px!important;
  border-radius: 50%;
  margin:0!important;
}
